@{
    ViewBag.Title = "About";
}

<div class="title">
    <h2>Detail info about northern sportive lemurs</h2>
    <span class="byline">The northern sportive lemurs resque</span>
</div>
<img src="~/Content/Images/Lemur2.jpg" alt="lemur2" width="400" style="float: right; margin: 0em 1em 1em 3em;"/>
    <p>The northern sportive lemur (Lepilemur septentrionalis), also known as the Sahafary sportive lemur or northern weasel lemur, is a species of lemur in the family Lepilemuridae. It is endemic to Madagascar. As a result of severe ecological and human pressures, the lemur is classified as Critically Endangered (CR) by the IUCN Red List, and is one of the world's most endangered primate species.</p>
    <h3>Description</h3>
        <p>L. septentrionalis is a sportive lemur, so named due to the boxing-like stance assumed by the lemur when threatened.[13] Northern sportive lemurs grow to a height of around 53 cm. They have a head and body length and tail length averaging at 28 cm and 25 cm respectively, and weigh an average of 0.7 to 0.8 kg.[14] Their diminutive size makes them one of the smallest species in the Lepilemur genus. Their ears are also relatively less prominent than in the other Lepilemur species. They have a grey underside and their fur coat is a grey-brown colour, which is darkest at the crown and moves down the dorsal line in a dark grey stripe, ending in the rump and the hind limbs as a paler grey.[14] The lemurs often adopt an upright vertical posture, using enlarged and fleshy digital pads on their hands and feet to cling tightly to tree branches. The lemurs can leap from this vertical position, making them an agile arboreal species. Their forward-facing large eyes give the lemurs binocular vision.</p>
    <h3>Distribution and habitat</h3>
        <p>The northern sportive lemur inhabits a highly restricted range in Northern Madagascar. The species is located from the left bank of the Loky River to the coast.[16] The natural habitat of the species consists of small patches of deciduous forests north of the Irodo River,[17] near the villages of Madirobe and Ankarongana in the Sahafary region and in the immediate vicinity of Andrahona, which is a small mountain that arises out lowlands south of Antsiranana.</p>
    <img src="~/Content/Images/Lemur1.jpg" alt="lemur1" width="300" style="float: left; margin: 1em 3em 0em 1em;" />    
    <h3>Ecology</h3>
        <p>The northern sportive lemur is a foliovorous species, though they will also eat fruits and flowers to supplement their diet. Similarly to the other sportive lemurs, L. septentrionalis is caecotrophic, consuming its own faeces to digest food for a second time.[16] The species have large bacteria-filled ceca, which helps them to digest plant matter such as cellulose and break it down into sugars and starches.</p>
    <h3>Conservation</h3>
        <p>The northern sportive lemur is preyed on by the native Malagasy tree boa, which hunts the lemurs while they are sleeping in tree holes. Large birds of prey, Falconiformes and Strigiformes, are also natural predators of the lemurs. Along with these ecological threats, the arboreal lemur species are also highly threatened by human charcoal production, which still continues to remove the only remaining forest habitat of the lemurs, greatly restricting their range. L. septentrionalis is also illegally hunted as bushmeat.[13] This combination of threats has severely reduced the population of the lemurs to only a few hundred individuals, as estimated by the IUCN Red List.[1] They are classified as Critically Endangered under the IUCN Red List and are listed on CITES Appendix I, which only permits their trade in exceptional circumstances.[21] The known habitat range of the lemurs does not overlap with any protected areas, and although the Andrahona Forest is considered sacred in Madagascar, it shows signs of human incursion.</p>
<div class="row">
    <button type="button" class="icon icon-ok button">Subscribe</button>
    <button type="button" class="icon icon-ok button">Watch problem regions</button>
    <button type="button" class="icon icon-ok button">Donate</button>
</div>