@{
    ViewBag.Title = "Contact";
}
<div class="title">
    <h2>Our contacts</h2>
</div>
<div style="margin:auto 20% auto 20%;">
    <img src="~/Content/Images/logo.png" alt="logo" style="float: left; margin: 0em 3em 0em 1em;" />
    <p>Email 1: lemurs@gmail.com</p>
    <p>Email 2: NorthernSportiveLemurs@gmail.com</p>
    <p>Phone 1: +380999999999</p>
    <p>Phone 2: +380988888888</p>
    <p>Adress: sity Lviv, Lemurs street, house 14</p>
</div>

<div class="row">
    @using (Html.BeginForm("Subscribe", "Account", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <!-- <input id="Map" type="submit" class="icon icon-ok button" style="border: none; margin: 0;" value="Subscribe">-->
        <div data-href="http://localhost:65106/" data-layout="button" data-size="small" data-mobile-iframe="true" style="
    display: inline-block;
">

            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A65106%2F&amp;src=sdkpreparse" style="
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 0.90em;
            display: inline-block;
            padding: 0.50em 3em 0.50em 2em;
            background: #669900;
            letter-spacing: 0.20em;">Поделиться</a>
        </div>
}
    @using (Html.BeginForm("Map", "Home", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <input id="Map" type="submit" class="icon icon-ok button" style="border: none; margin: 0;" value="Watch problem regions">
    }
    @using (Html.BeginForm("Create", "Donations", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <input id="Map" type="submit" class="icon icon-ok button" style="border: none; margin: 0;" value="Donate">
    }
</div>