@{
    ViewBag.Title = "Contact";
}
<div class="title">
    <h2>Our contacts</h2>
</div>
<div style="margin:auto 20% auto 20%;">
    <img src="~/Content/Images/logo.png" alt="logo" style="float: left; margin: 0em 3em 0em 1em;" />
    <p>Email 1: lemurs@gmail.com</p>
    <p>Email 2: NorthernSportiveLemurs@gmail.com</p>
    <p>Phone 1: +380999999999</p>
    <p>Phone 2: +380988888888</p>
    <p>Adress: sity Lviv, Lemurs street, house 14</p>
</div>

<div class="row">
    <button type="button" class="icon icon-ok button">Subscribe</button>
    <button type="button" class="icon icon-ok button">Watch problem regions</button>
    <button type="button" class="icon icon-ok button">Donate</button>
</div>