@{
    ViewBag.Title = "Contact";
}
<div class="title">
    <h2>Our contacts</h2>
</div>
<div style="margin:auto 20% auto 20%;">
    <img src="~/Content/Images/logo.png" alt="logo" style="float: left; margin: 0em 3em 0em 1em;" />
    <p>Email 1: lemurs@gmail.com</p>
    <p>Email 2: NorthernSportiveLemurs@gmail.com</p>
    <p>Phone 1: +380999999999</p>
    <p>Phone 2: +380988888888</p>
    <p>Adress: sity Lviv, Lemurs street, house 14</p>
</div>

<div class="row">
    @using (Html.BeginForm("Subscribe", "Account", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <div class="subscribe" data-href="http://savetogether.azurewebsites.net/" data-layout="button" data-size="small" data-mobile-iframe="true" style="display: inline-block;">
            <a class="fb-xfbml-parse-ignore" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsavetogether.azurewebsites.net%2F&%2F&display=popup&ref=plugin&src=like&kid_directed_site=0&app_id=1493332047394348&amp;src=sdkpreparse">Subscribe</a>
        </div>
    }
    @using (Html.BeginForm("Map", "Home", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <input id="Map" type="submit" class="icon icon-ok button" style="border: none; margin: 0;" value="Watch problem regions">
    }
    @using (Html.BeginForm("Create", "Donations", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <input id="Map" type="submit" class="icon icon-ok button" style="border: none; margin: 0;" value="Donate">
    }
</div>