@{
    ViewBag.Title = "Donate";
}

<form action="https://secure-test.worldpay.com/wcc/purchase" name=BuyForm method=POST>
    <input type="hidden" name="instId" value="211616">
    <input type="hidden" name="cartId" value="abc123">
    <input type="hidden" name="currency" value="USD">
    <input type="hidden" name="desc" value="">
    <input type="hidden" name="testMode" value="100">
    <script language=JavaScript>
        function roundOff(value)

        {
            if (value == 0)
            {
                return "0";
                exit;
            }

            precision = 2;
            value = "" + value //convert value to string
            precision = parseInt(precision);
            var whole = "" + Math.round(value * Math.pow(10, precision));
            var decPoint = whole.length - precision;

            if(decPoint != 0)
            {
                result = whole.substring(0, decPoint);
                result += ".";
                result += whole.substring(decPoint, whole.length);
            }
            else
            {
                result = whole;
            }

            return result;
        }

        function CheckNull(value)
        {
            if (value == "")
            {
                value = "0";
            }

            return value;
        }
    </script>
    <input name="cost" size="3" value="0"><b>$</b>
    <input type="submit" value="Submit" name="SUBMIT">
</form>

