@{
    ViewBag.Title = "Save together";
}
<div class="title">
    <h2>Let`s save northern sportive lemurs</h2>
    <span class="byline">The northern sportive lemurs resque</span>
</div>
<div style="display:block;">
    <img src="~/Content/Images/Lemurs.jpg" alt="lemurs" width="400"  style="float: left; margin: 0em 3em 0em 1em;"/>
    <p>Northern sportive lemurs (Lepilemur septentrionalis) are one of the smallest of the Lepilemurs and have pale grey-brown backs with a darker line that runs from the head down to the tail. There is some brown around the top of the head and around their shoulders, and their undersides are grey. With both eyes facing forwards they have excellent binocular vision (</p>
    <p>It is very difficult to say that one lemur species is more endangered than another. There are around 100 species of these primates, all of which live on the Island of Madagascar, off the southeast coast of Africa. Virtually all of them are declining dramatically in population, mostly because of habitat loss due to logging in the forests where they live—but also because of illegal hunting. Many lemur species are listed as Endangered or Critically Endangered by the International Union for the Conservation of Nature (IUCN).</p>
    <p>All About Wildlife has always had a lemur on our Top 10 Endangered Species list; until this year, that lemur was the greater bamboo lemur, of which perhaps fewer than 100 individuals remain. But researchers recently reported that there may be fewer than 20 of the Critically Endangered northern sportive lemurs (Lepilemur septentrionalis) left in the wild, so we decided to make a switch. According to the IUCN, the northern sportive lemur lives on and around just one small mountain at the northern tip of Madagascar. This lemur is a tiny creature, weighing less than two pounds. It has large eyes to give it better night vision.</p>
</div>
<div class="row">
    @using (Html.BeginForm("Subscribe", "Account", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <div class="subscribe" data-href="http://savetogether.azurewebsites.net/" data-layout="button" data-size="small" data-mobile-iframe="true" style="display: inline-block;">
            <a class="fb-xfbml-parse-ignore" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsavetogether.azurewebsites.net%2F&%2F&display=popup&ref=plugin&src=like&kid_directed_site=0&app_id=1493332047394348&amp;src=sdkpreparse">Subscribe</a>
        </div>
    }
    @using (Html.BeginForm("Map", "Home", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <input id="Map" type="submit" class="icon icon-ok button" style="border: none; margin: 0;" value="Watch problem regions">
    }
    @using (Html.BeginForm("Create", "Donations", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <input id="Map" type="submit" class="icon icon-ok button" style="border: none; margin: 0;" value="Donate">
    }
</div>