@{
    ViewBag.Title = "Save together";
}

    <div class="row">
        <div class="container col-md-3">
            <img src="~/Content/Images/Lemurs.jpg" alt="the northern sportive lemurs" />
        </div>
        <div class="col-md-9">
            <h1>Let`s save northern sportive lemurs</h1>

            <p>It is very difficult to say that one lemur species is more endangered than another. There are around 100 species of these primates, all of which live on the Island of Madagascar, off the southeast coast of Africa. Virtually all of them are declining dramatically in population, mostly because of habitat loss due to logging in the forests where they live—but also because of illegal hunting. Many lemur species are listed as Endangered or Critically Endangered by the International Union for the Conservation of Nature (IUCN).</p>
            <p>All About Wildlife has always had a lemur on our Top 10 Endangered Species list; until this year, that lemur was the greater bamboo lemur, of which perhaps fewer than 100 individuals remain. But researchers recently reported that there may be fewer than 20 of the Critically Endangered northern sportive lemurs (Lepilemur septentrionalis) left in the wild, so we decided to make a switch. According to the IUCN, the northern sportive lemur lives on and around just one small mountain at the northern tip of Madagascar. This lemur is a tiny creature, weighing less than two pounds. It has large eyes to give it better night vision.</p>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default">Subscribe</button>
        <button type="button" class="btn btn-default">Watch problem regions</button>
        <button type="button" class="btn btn-default">Donate</button>
    </div>