@{
    ViewBag.Title = "Map";
}
@model List<SaveTogether.DAL.Entities.Region>
<div class="title" style="margin: 1em;">
    <h2 style="text-align: center;">Map</h2>
</div>

<div class="row" style="margin: 4% 5% auto 5%;">
    <iframe align="left" width="600" height="450" frameborder="0" style="border: 0; margin-right: 15px;" src="https://www.google.com/maps/embed/v1/view?zoom=7&center=-13.7715%2C49.5280&key=AIzaSyDcQBeDJaf5B7UopUr1_oJ2X53PLugylc4" allowfullscreen></iframe>
    <h2>Regions: </h2>
    <br/>
    @foreach (var item in Model)
    {
        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
        <p>
            @Html.DisplayFor(modelItem => item.Description) <br />
            Population: @Html.DisplayFor(modelItem => item.Population)
    </p>
    }
</div>
    <br/>
<div class="row" align="center">
    @using (Html.BeginForm("Subscribe", "Account", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <div class="subscribe" data-href="http://savetogether.azurewebsites.net/" data-layout="button" data-size="small" data-mobile-iframe="true" style="display: inline-block;">
            <a class="fb-xfbml-parse-ignore" target="_blank" 
               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsavetogether.azurewebsites.net%2F&%2F&display=popup&ref=plugin&src=like&kid_directed_site=0&app_id=1493332047394348&amp;src=sdkpreparse">Subscribe</a>
        </div>
    }
    @using (Html.BeginForm("Create", "Donations", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "icon icon-ok button", role = "form" }))
    {
        <input id="Map" type="submit" class="icon icon-ok button" style="border: none; margin: 0;" value="Donate">
    }
</div>