
@{
    ViewBag.Title = "Map";
}
<div class="title">
    <h2 style="text-align: center;">Map</h2>
    @*<img src="~/Content/Images/Lepilemur_septentrionalis_range_map.png" alt="Lepilemur septentrionalis range map"/>*@

    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=7&center=-13.7715%2C49.5280&key=AIzaSyDcQBeDJaf5B7UopUr1_oJ2X53PLugylc4" allowfullscreen></iframe>
</div>

<div class="row">
    <button type="button" class="icon icon-ok button">Subscribe</button>
    <button type="button" class="icon icon-ok button">Watch problem regions</button>
    <button type="button" class="icon icon-ok button">Donate</button>
</div>