
@{
    ViewBag.Title = "Map";
}
<div class="title">
    <h2 style="text-align: center;">Map</h2>
    <img src="~/Content/Images/Lepilemur_septentrionalis_range_map.png" alt="Lepilemur septentrionalis range map"/>
    
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <iframe src="https://maps.google.com/maps?ll=-12.35784,49.164825&z=9&t=p&hl=ru&gl=US&mapclient=apiv3"></iframe>
     </div>
</div>

<div class="row">
    <button type="button" class="icon icon-ok button">Subscribe</button>
    <button type="button" class="icon icon-ok button">Watch problem regions</button>
    <button type="button" class="icon icon-ok button">Donate</button>
</div>